<div class="mt-2">
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <form class="d-flex" method="POST">
                <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>